<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Selcor Lab</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="favicon.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar">
            <div class="container">
                <a href="{{ url_for('index') }}"class="logo"></a>
                <button class="menu-toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navbar-menu">
                    <a href="{{ url_for('index') }}#about">O nas</a>
                    <a href="{{ url_for('index') }}#linki">Oferta</a>
                    <a href="{{ url_for('rodo') }}">RODO</a>
                    <a href="{{ url_for('index') }}#kontakt">Kontakt</a>
                    <a href="{{ url_for('index') }}">
                        <img src="https://flagcdn.com/28x21/pl.png" srcset="https://flagcdn.com/56x42/pl.png 2x,
        https://flagcdn.com/84x63/pl.png 3x" width="28" height="21" alt="Polska"></a>

                    <a href="{{ url_for('en_index') }}">
                        <img src="https://flagcdn.com/28x21/gb.png" srcset="https://flagcdn.com/56x42/gb.png 2x,
        https://flagcdn.com/84x63/gb.png 3x" width="28" height="21" alt="Wielka Brytania"></a>

                </div>
            </div>
        </nav>
        <main>
            <!--Home-->
            <section id="home">
                <div class="container">
                    <div class="content">
                        <p>...&nbsp;wprost</p>
                        <p>z&nbsp;natury.</p>
                    </div>
                </div>
            </section>
            <!-- Content-->
            <section class="article">
                <div class="container">
                    <div class="text">
                        <h2>Olej słonecznikowy, rafinowany, z pierwszego tłoczenia, bez domieszek innych olejów..</h2>
                        <p> <img src="static/img/import/etykieta5l_500.png" alt="Olej słonecznikowy" class="img-left"></p>
                        <p class="under right"><span>INFORMACJA O PRODUKCIE</span></p>
                        <ul class="right">
                            <li>Waga 1 litra <span>0,92 kg</span></li>
                            <li>&nbsp;</li>
                            <li>Zawartość tłuszczów nasyconych <span>nie więcej niż 13 g na 100 g oleju</span></li>
                            <li>&nbsp;</li>
                            <li>Kraj pochodzenia <span>Ukraina</span></li>
                        </ul>
                        <p>
                            <span>PAKOWANIE</span>
                        </p>
                        <p>Opakowania 1 litrowe: 8 butelek w paczce, 85 paczek na palecie, 33 palety na auto, łącznie 22 440 litrów</p>
                        <p>Opakowania 5 litrowe: 2 butelki w paczce, 70 paczek na palecie, 33 palety na auto, łącznie 23 100 litrów</p>

                        <p><span>CZAS REALIZACJI</span></p>
                        <ul>
                            <li>Do 14 dni od otrzymania zamówienia</li>
                        </ul>
                        <p>W celu przygotowania oferty handlowej z ceną, prosimy o kontakt.</p>
                        <p class="under right"><img src="static/img/import/etykieta1l_500.png" alt="Olej słonecznikowy"></p>
                    </div>
                </div>
            </section>
            <!-- Kontakt-->
            <section id="kontakt">
                <div class="container">
                    <h1 class="section-title">Kontakt</h1>
                    <div class="kontaktowe">
                        <div class="kontakt">
                            <h4>Selcor Lab Sp. z o.o.</h4>
                            <p>ul. Świętego Michała 100</p>
                            <p>61-005 Poznań</p>
                        </div>
                        <div class="kontakt">
                            <p>e-mail: biuro@selcor.com</p>
                            <p>Tel: +48 *** *** ***</p>
                        </div>
                        <div class="kontakt">
                            <p>Selcor Lab Sp. z o.o., zarejestrowana w Rejestrze Przedsiębiorców Krajowego Rejestru Sądowego prowadzonym przez Sąd Rejonowy dla m. st. Warszawy w Warszawie, XII Wydział Gospodarczy Krajowego Rejestru Sądowego, pod numerem KRS&nbsp;0000293921, NIP&nbsp;7010104087, REGON&nbsp;141141116. Kapitał zakładowy w wysokości 50 000 zł opłacony w całości.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="footers">
                    <div class="footer">
                        <h4>&copy;&nbsp;Selcor Lab&nbsp;Sp.&nbsp;z&nbsp;o.o.</h4>
                    </div>
                    <div class="footer">
                        <h4>Realizacja&nbsp;Kyria Tech - Astryda Malinowska <i class="bi bi-code-square"></i></h4>
                    </div>
                    <div class="footer">
                        <h4>&nbsp;</h4>
                        <ul>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/whcookies.js') }}"></script>
    </body>
</html>
